:root {
  /* // Gray */
  --prim-gray-h: 220;

  --prim-gray-820: hsl(var(--prim-gray-h), 1%, 18%);
  --prim-gray-800: hsl(var(--prim-gray-h), 1%, 20%);
  --prim-gray-780: hsl(var(--prim-gray-h), 1%, 22%);
  --prim-gray-740: hsl(var(--prim-gray-h), 2%, 26%);
  --prim-gray-710: hsl(var(--prim-gray-h), 2%, 29%);
  --prim-gray-670: hsl(var(--prim-gray-h), 2%, 33%);
  --prim-gray-540: hsl(var(--prim-gray-h), 4%, 46%);
  --prim-gray-490: hsl(var(--prim-gray-h), 3%, 51%);
  --prim-gray-420: hsl(var(--prim-gray-h), 4%, 58%);
  --prim-gray-320: hsl(var(--prim-gray-h), 10%, 68%);
  --prim-gray-320-alpha-010: hsla(var(--prim-gray-h), 10%, 68%, 0.1);
  --prim-gray-200: hsl(var(--prim-gray-h), 18%, 80%);
  --prim-gray-120: hsl(var(--prim-gray-h), 25%, 88%);
  --prim-gray-70: hsl(var(--prim-gray-h), 32%, 93%);
  --prim-gray-70-alpha-01: hsla(var(--prim-gray-h), 32%, 93%, 0.1);
  --prim-gray-40: hsl(var(--prim-gray-h), 40%, 96%);
  --prim-gray-30: hsl(var(--prim-gray-h), 43%, 97%);
  --prim-gray-25: hsl(var(--prim-gray-h), 50%, 97.5%);
  --prim-gray-10: hsl(var(--prim-gray-h), 50%, 99%);
  --prim-gray-0-alpha-075: hsla(var(--prim-gray-h), 50%, 100%, 0.75);
  --prim-gray-0-alpha-030: hsla(var(--prim-gray-h), 50%, 100%, 0.3);
  --prim-gray-0-alpha-025: hsla(var(--prim-gray-h), 50%, 100%, 0.25);
  --prim-gray-0-alpha-010: hsla(var(--prim-gray-h), 50%, 100%, 0.1);
  --prim-gray-0: hsl(var(--prim-gray-h), 50%, 100%);

  /* / Color Secondary */
  --prim-color-secondary-h: 247;
  --prim-color-secondary-s: 49%;
  --prim-color-secondary-l: 53%;

  --prim-color-secondary-shade-250: hsl(
    var(--prim-color-secondary-h),
    calc(var(--prim-color-secondary-s) - 25%),
    calc(var(--prim-color-secondary-l) - 25%)
  );
  --prim-color-secondary-shade-100: hsl(
    var(--prim-color-secondary-h),
    var(--prim-color-secondary-s),
    calc(var(--prim-color-secondary-l) - 10%)
  );
  --prim-color-secondary: hsl(
    var(--prim-color-secondary-h),
    var(--prim-color-secondary-s),
    var(--prim-color-secondary-l)
  );
  --prim-color-secondary-alpha-025: hsla(
    var(--prim-color-secondary-h),
    var(--prim-color-secondary-s),
    var(--prim-color-secondary-l),
    0.25
  );
  --prim-color-secondary-alpha-010: hsla(
    var(--prim-color-secondary-h),
    var(--prim-color-secondary-s),
    var(--prim-color-secondary-l),
    0.1
  );
  --prim-color-secondary-tint-100: hsl(
    var(--prim-color-secondary-h),
    var(--prim-color-secondary-s),
    calc(var(--prim-color-secondary-l) + 10%)
  );
  --prim-color-secondary-tint-200: hsl(
    var(--prim-color-secondary-h),
    var(--prim-color-secondary-s),
    calc(var(--prim-color-secondary-l) + 20%)
  );
  --prim-color-secondary-tint-300: hsl(
    var(--prim-color-secondary-h),
    var(--prim-color-secondary-s),
    calc(var(--prim-color-secondary-l) + 30%)
  );
  --prim-color-secondary-tint-400: hsl(
    var(--prim-color-secondary-h),
    var(--prim-color-secondary-s),
    calc(var(--prim-color-secondary-l) + 40%)
  );

  --font-line-height-xsmall: 1;
  --font-line-height-compact: 1.25;
  --font-line-height-regular: 1.3;
  --font-line-height-loose: 1.35;
  --font-line-height-xloose: 1.5;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;
  --font-family: InterVariable, sans-serif;
  --font-family-monospace: CommitMono, ui-monospace, Menlo, Consolas,
    "DejaVu Sans Mono", monospace;

  --spacing-5xs: 0.125rem;
  --spacing-4xs: 0.25rem;
  --spacing-3xs: 0.375rem;
  --spacing-2xs: 0.5rem;
  --spacing-xs: 0.75rem;
  --spacing-s: 1rem;
  --spacing-m: 1.25rem;
  --spacing-l: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-2xl: 3rem;
  --spacing-3xl: 4rem;
  --spacing-4xl: 8rem;
  --spacing-5xl: 16rem;

  --font-size-4xs: 0.5rem;
  --font-size-3xs: 0.625rem;
  --font-size-2xs: 0.75rem;
  --font-size-xs: 0.8125rem;
  --font-size-s: 0.875rem;
  --font-size-m: 1rem;
  --font-size-l: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.75rem;

  /* // Text */
  --color-text-dark: var(--prim-gray-740);
  --color-text-base: var(--prim-gray-540);
  --color-text-light: var(--prim-gray-420);
  --color-text-lighter: var(--prim-gray-120);
  --color-text-xlight: var(--prim-gray-0);
  --color-text-danger: var(--prim-color-alt-c);

  --font-size-3xs: 0.625rem; /* 10px */
  --color-background-base: hsl(220, 40%, 96%);

  /* // Foreground */
  --color-foreground-xdark: var(--prim-gray-490);
  --color-foreground-dark: var(--prim-gray-200);
  --color-foreground-base: var(--prim-gray-120);
  --color-foreground-light: var(--prim-gray-70);
  --color-foreground-xlight: var(--prim-gray-0);

  /* // Background */
  --color-background-dark: var(--prim-gray-820);
  --color-background-medium: var(--prim-gray-120);
  --color-background-base: var(--prim-gray-40);
  --color-background-light-base: var(--prim-gray-25);
  --color-background-light: var(--prim-gray-10);
  --color-background-xlight: var(--prim-gray-0);

  /* // Expressions, autocomplete, infobox */
  --color-valid-resolvable-foreground: var(--prim-color-alt-a);
  --color-valid-resolvable-background: var(--prim-color-alt-a-tint-500);
  --color-invalid-resolvable-foreground: var(--prim-color-alt-c);
  --color-invalid-resolvable-background: var(--prim-color-alt-c-tint-450);
  --color-pending-resolvable-foreground: var(--color-text-base);
  --color-pending-resolvable-background: var(--prim-gray-40);
  --color-expression-editor-background: var(--prim-gray-0);
  --color-expression-editor-modal-background: var(--color-background-base);
  --color-expression-syntax-example: var(--prim-gray-40);
  --color-autocomplete-item-selected: var(--color-secondary);
  --color-autocomplete-section-header-border: var(--color-foreground-light);
  --color-infobox-background: var(--color-background-light-base);
  --color-infobox-examples-border-color: var(--color-foreground-light);
}
